*{
    margin:0;
}
#main-cont{
    display:flex;
    justify-content: center;
    margin:2vh

}
#form-cont{
    background-color: rgb(40, 41, 40);
    color:white;
    width:60%;
    margin-top: 20vh;
   
 
} 
h1{
    width: fit-content;
    margin: 0 auto;
}
#form{
    padding:8px;
    display: flex;
    justify-content: center;

} 

#login-cont a{
   color :#02d842;
}

input{
    width:30vw !important;

}
#login-cont{
    float:right;
    margin-right:1rem;
    
}


@media screen and (max-width: 700px) {
    #form-cont {
    
        width: 100%; 
    }
    input{
        width:100% !important;
    }
  
  }
  @media screen and (max-height: 400px) {
   
    input{
        width:100% !important;
    }
  
  }


  

  