* {
  margin: 0;
}

nav {
  background-color: rgb(40, 41, 40);
  position: fixed;
  top: 0;

  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  padding-top:25px;
  padding-bottom:15px;
  align-items: center;
}
li {
  margin: 0px 10px;
}
#title {
  font-size: 1.3rem;
}

nav ul li a {
  text-decoration: none;
  color: #ccc;
}
nav ul li {
  color: white;
}
#title:hover {
  transform: scale(1.2);
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}
