* {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
nav {
  background-color: rgb(24, 94, 30);
  height: 8vh;
}

ul {
  display: flex;
  list-style: none;
  padding-top: 20px;
  align-items: center;
}
li {
  margin: 0px 20px;
}
#title {
  font-size: 1.3rem;
}
#heading-cont {
  width: 15%;
  margin-top: 4vh;
  background-color: #ccc;
}

#heading-cont h1 {
  width: fit-content;

  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ccc;
}
nav ul li {
  color: white;
}
