* {
  margin: 0;
}

nav {
  background-color: rgb(40, 41, 40);
  position: fixed;

  top: 0;
  width: 100%;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  padding-top:25px;
  padding-bottom:15px;
  align-items: center;
}
li {
  margin: 0px 10px;
}
#title-cont{
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
}
#title {
  font-size: 1.4rem;
  color:white; 
  margin:1rem;
}



#logOutBtn{
  background-color :rgb(107, 17, 17) !important;
  height: 100%;
  margin:20px;
  padding:0px 10px 0px 10px;
  display:flex;
  align-items: center;

  -webkit-box-shadow: -9px -7px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -9px -7px 14px 0px rgba(0,0,0,0.75);
box-shadow: -9px -7px 14px 0px rgba(0,0,0,0.75);

}

#logOutBtn div{

  border: 1px solid white;
  padding:10px;
   

}

#logOutBtn div:hover{

  transform: scale(1.1);
  cursor:pointer;

}

#logOutBtn div a{
  text-decoration: none;
  color:whitesmoke;
}


 
nav ul li a {
  text-decoration: none;
  color: #ccc;
}
nav ul li {
  color: white;
}




@media screen and (max-width: 600px) {

  #title {
    font-size: 1rem;
    margin:0.6rem;
  }
  #title-cont{
    flex-direction: column;
  }

  #logOutBtn div{
    border:none;
  }
}
